body {background-color: bisque;}
.h1 {background-color: aqua; color: black; width: fit-content;}
.h2 {background-color:blue ; color:beige; width: fit-content;}
.h3 {background-color:rgb(125, 203, 231); color: brown; width: fit-content;}
.h4 {background-color: rgb(108, 153, 182); color: rgb(5, 58, 107); width: fit-content;}
