.p1 {background-color: black ;color: aliceblue; width: 400px;}
.p2 {background-color: blue ;color: beige; width: 400px;}
.p3 {background-color:  rgb(125, 203, 231);color: brown; width: 400px;}  
.p4 {background-color:rgb(108, 153, 182) ;color: rgb(5, 58, 107); width: 400px;} 